@import url("./fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
button {
  border: none;
  cursor: pointer;
  outline: none;
}

input {
  border: none;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}

.top-navbar {
  padding: 9px 150px;
  border-bottom: 1px solid #ebeef0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  color: #6c6f71;
  font-size: 14px;
  font-weight: 400;
}

.top-right-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-order-btn button {
  border-radius: 4px;
  background: #f2f6fc;
  padding: 12px;
  gap: 10px;

  /*button font style */
  color: #2a5e8d;
  font-size: 11px;
  font-weight: 700;
  line-height: 10px;
  text-transform: uppercase;
}

.nav-time span {
  color: #4e5760;
  font-size: 13px;
  font-weight: 400;
}

.nav-phone-number a {
  color: #000;
  font-size: 16px;
  font-weight: 550;
}

.bot-nav-iconText .rIcons {
  font-size: 23px;
}

.bot-nav-iconText a .lengthView {
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #e52b0e;
  border-radius: 50%;

  color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px; /* 200% */
}

.bot-right-nav {
  display: flex;
  align-items: center;
  gap: 27px;
}

.bot-right-nav .bot-nav-iconText a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 150px;
}

.nav-search-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 37%;
  padding: 3px;
  border-radius: 8px;
  background: #186fd4;
}

.nav-search-input button {
  padding: 13px 21px;
  border-radius: 8px;
  background: #186fd4;

  color: #fff;
  font-size: 20px;
}

.nav-search-input input {
  padding: 16px;
  border-radius: 6px;
  width: 100%;
}

.nav-catalog-btn button {
  transition: 0.5s;
  display: flex;
  padding: 16px 29px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  border-radius: 8px;

  /*font style*/
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px; /* 138.462% */
  text-transform: uppercase;
}

.nav-catalog-btn button .btn-icon {
  transition: 0.4s;
  font-size: 23px;
  color: #fff;
}

.swiper-button-next {
  opacity: 1 !important;
  right: 0 !important;
}

.homePage {
  padding: 28px 150px 110px;
}

.mainSliders-Swiper {
  border-radius: 10px;
  background: linear-gradient(
      270deg,
      rgba(238, 245, 252, 0.95) 8.96%,
      rgba(205, 219, 234, 0) 55.04%
    ),
    url("../assets/img/mainSliderIMG/slider1.png"),
    lightgray -418.357px -175.743px / 186.048% 166.798% no-repeat,
    url("../assets/img/mainSliderIMG/slider2.png"),
    lightgray -465.556px 0px / 194.138% 100% no-repeat, #eef2f9;
}

.swiper-slide {
  position: relative;
}

.slider-text-btn {
  z-index: 1;
  position: absolute;
  bottom: 122px;
  left: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slider-text-btn h1 {
  color: #2c333d;
  width: 45%;
  /* H1 */
  font-size: 48px;
  font-weight: 700;
  line-height: 54px; /* 112.5% */
}
.slider-text-btn p {
  width: 53%;
  color: #2c333d;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px; /* 158.824% */
}

.gtp-btn button {
  padding: 24px 27px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #011120;

  /*btn font style */
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 17px; /* 130.769% */
  text-transform: uppercase;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  width: 60px !important;
  height: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #2c333d;
  background: #fff;
  font-size: 20px !important;
  box-shadow: 0 0 3px 0 #ccc;
  position: absolute;
}

.swiper-button-next:after {
  right: 1px;
}

.information-home {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.information-home div {
  display: flex;
  align-items: center;
  gap: 11px;
}

.information-home .i-icons {
  font-size: 18px;
  color: #117fe3;
}

.information-home p {
  color: #3b3c3f;
  font-size: 15px;
  font-weight: 550;
  line-height: 19px; /* 126.667% */
}

.information-home span {
  display: inline-block;
  width: 1px;
  height: 23px;
  background: #e7e7e8;
}

.home-catalog-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(8, calc(100% / 8 - 20px));
}

.home-catalog-cards > div:not(.go-to-catalog) {
  cursor: pointer;
  border-radius: 15px;
  background: #f3f4f5;
  padding-inline: 10px;
  display: flex;
  width: 185px;
  height: 197px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.go-to-catalog {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #f6f7f9;
  gap: 30px;
  padding-inline: 20px;
}

.go-to-catalog .chevron-icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #f3f4f5;
  color: gray;
}

.discounts-info {
  padding: 50px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, calc(100% / 4 - 20px));
}

.disc-info-card {
  position: relative;
}

.disc-text {
  top: 43px;
  left: 36px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.disc-text span:first-child {
  display: inline-block;
  color: #2c333d;
  font-size: 22px;
  font-weight: 550;
  line-height: 26px;
}
.disc-text span:last-child {
  padding: 6px 8px;
  color: #fff;
  border-radius: 6px;
  background: #011120;
  width: 73px;

  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px; /* 135.714% */
}

.bSeller-prod-cards .swiper {
  width: 80%;
}

.bSeller-prod-cards {
  display: flex;
  gap: 20px;
}

.bestSellers {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 0;
}

.total-label {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.total-label h2 {
  color: #2c333d;

  /* H2 */
  font-size: 33px;
  font-weight: 700;
  line-height: 31px; /* 93.939% */
}

.total-category-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.total-category-btns button {
  display: flex;
  padding: 17px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #f2f4f5;

  font-size: 14px;
  font-weight: 550;
  line-height: 11px; /* 78.571% */
}

.bSeller-prod-cards .swiper-slide {
  border-radius: 5px;
  border: 1px solid #a8adb222;
  display: flex;
  width: 308px;
  padding: 15px 15px;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.total-card-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

:is(.bestSellers, .popular-brands) .swiper-button-prev:after {
  left: -10px;
  width: 40px !important;
  height: 40px !important;
}
:is(.bestSellers, .popular-brands) .swiper-button-next:after {
  width: 40px !important;
  height: 40px !important;
}

.total-cardTitle {
  position: absolute;
  top: 0;
  left: 0;

  border-radius: 5px;
  border: 1px solid #f90;
  padding: 6px 8px;
  gap: 10px;

  color: #f90;
  font-size: 13px;
  font-weight: 550;
  line-height: 19px; /* 146.154% */
}

.total-title-img {
  display: flex;
  justify-content: center;
}

.total-prod-cards .swiper-slide img {
  width: 100%;
  padding: 15px;
}

.total-articul span {
  color: #a8adb2;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px; /* 100% */
}

.total-prod-name h4 {
  color: #000;
  /* H4 */
  font-size: 18px;
  font-weight: 550;
  line-height: 26px; /* 144.444% */
}

.total-price {
  display: flex;
  align-items: center;
  gap: 7px;
}

.total-price del {
  color: #8f9296;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}

.total-price span {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #003b73;
  font-size: 20px;
  font-weight: 550;
  line-height: 22px; /* 110% */
}

.total-disc span {
  padding: 8px 5px;
  border-radius: 4px;
  background: #1b9665;

  color: #fff;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px; /* 100% */
}

.total-card-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-card-btns .cart-btn button {
  border-radius: 6px;
  background: #186fd4;
  display: flex;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  gap: 11px;

  color: #fff;
  font-size: 15px;
  font-weight: 550;
  line-height: 22px; /* 146.667% */
}

.like-cart-btn {
  display: flex;
  align-items: center;
  gap: 9px;
}

.like-cart-btn button {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 6px;
  border: 1px solid #f3f4f5;
  font-size: 20px;
}

.hurry-up-buy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 308px;
  border-radius: 8px;
  border: 2px solid #117fe3;
  background: #fff;
}

.hurry-disc {
  padding: 25px 25px 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.hurry-disc span:first-child {
  color: #011120;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px; /* 110% */
  width: 60%;
}

.hurry-disc span:last-child {
  display: flex;
  align-items: center;
  padding: 8px 5px;
  border-radius: 4px;
  background: #1b9665;

  color: #fff;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px; /* 100% */
}

.hurry-bot {
  padding: 25px 25px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.hurry-title {
  color: #020d17;
  font-size: 19px;
  font-weight: 550;
  line-height: 23px; /* 121.053% */
}

.hurry-price del {
  color: #8f9296;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px; /* 129.412% */
}

.hurry-price {
  color: #1b9665;
  font-size: 24px;
  font-weight: 550;
  line-height: 22px; /* 91.667% */
}

.hurry-cart button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  width: 100%;
  border-radius: 0px 0px 8px 8px;
  background: #117fe3;
  padding: 13px;

  color: #fff;
  font-size: 15px;
  font-weight: 550;
  line-height: 22px; /* 146.667% */
}

.popular-brands {
  padding: 50px 0;
  background: #f9fafb;
  box-shadow: 0 0 0 100vmax #f9fafb;
  clip-path: inset(0 -100vmax);
}

.popular-title {
  margin-bottom: 40px;
}

.popular-brands .swiper-slide {
  border-radius: 8px;
  border: 1px solid #f2f4f5;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: #fff;
}

.bestoffers {
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.bestOffer-cards {
  display: grid;
  align-items: center;
  gap: 20px;
  grid-template-columns: repeat(5, calc(100% / 5));
}

.bestOffer-card {
  position: relative;
  padding: 15px;
  border: 1px solid #a8adb222;
  border-radius: 8px;
}

.bOffer-card-img {
  padding: 15px;
}

.sale-or-new {
  position: absolute;
  top: 0;
  left: 0;
}

.sale-info {
  padding: 6px 8px;
  border-radius: 5px;
  border: 1px solid #ee063e;

  color: #ee063e;
  font-size: 13px;
  font-weight: 550;
  line-height: 19px; /* 146.154% */
}

.new-info {
  padding: 6px 8px;
  border-radius: 5px;
  border: 1px solid #1b9665;

  color: #1b9665;
  font-size: 13px;
  font-weight: 550;
  line-height: 19px; /* 146.154% */
}

.about-store {
  display: flex;
  align-items: center;
  background: #f9fafb;
  box-shadow: 0 0 0 100vmax #f9faf9;
  clip-path: inset(0 -100vmax);
}

.left-about {
  width: 58%;
  padding: 67px 0 80px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.about-texts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about-title h2 {
  color: #2c333d;

  /* H2 */
  font-size: 33px;
  font-weight: 700;
  line-height: 31px; /* 93.939% */
}

.about-text p {
  color: #2c333d;
  font-size: 17px;
  font-weight: 550;
  line-height: 26px; /* 152.941% */
}

.about-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-information div {
  padding: 16px;
}

.about-information h4 {
  color: #117fe3;
  font-size: 26px;
  font-weight: 550;
  line-height: 22px; /* 84.615% */
}

.about-information p {
  color: #44474f;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px; /* 120% */
}

.about-sec-text p {
  color: #2c333d;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px; /* 173.333% */
}

.more-about-btn button {
  display: flex;
  align-items: center;
  gap: 17px;
  border-radius: 8px;
  background: #011120;
  padding: 24px 27px;
  text-transform: uppercase;

  /*button font style */
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px; /* 138.462% */
}

.right-about-img img {
  transform: translateX(150px);
  width: 100%;
}

.last-news {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.news-title-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-title-btn h2 {
  color: #2c333d;

  /* H2 */
  font-size: 33px;
  font-weight: 700;
  line-height: 31px; /* 93.939% */
}

.news-title-btn button {
  padding: 17px 20px;
  border-radius: 6px;
  background: #f6f8fb;

  /*button font styles*/
  color: #117fe3;
  font-size: 14px;
  font-weight: 550;
  line-height: 11px; /* 78.571% */
}

.news-cards {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, calc(100% / 4 - 16px));
  gap: 20px;
}

.news-card {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.news-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.news-title h3 {
  color: #2c333d;

  /* H3 */
  font-size: 20px;
  font-weight: 550;
  line-height: 26px; /* 130% */
}

.news-description p {
  color: #393939;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px; /* 143.75% */
}

.news-date span {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 12px; /* 92.308% */
}

footer {
  background: #f3f4f5;
  box-shadow: 0 0 0 100vmax #f3f4f5;
  clip-path: inset(0 -100vmax);
  padding: 41px 150px 20px;
}

.top-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-left-footer {
  display: flex;
  align-items: center;
  gap: 51px;
}

.limited-liability p {
  color: #35383a;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px; /* 146.154% */
}

.top-right-footer {
  display: flex;
  align-items: center;
  gap: 120px;
}

.inn-email {
  display: flex;
  align-items: center;
  gap: 145px;
}

.inn-number {
  color: #35383a;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px; /* 146.154% */
}

.email-footer {
  display: flex;
  flex-direction: column;
}
.email-footer span {
  color: #35383a;
  font-size: 13px;
  font-weight: 550;
  line-height: 19px; /* 146.154% */
}

.email-footer a {
  color: #117fe3;
  font-size: 14px;
  font-weight: 550;
  text-decoration-line: underline;
}

.number-requestCall {
  display: flex;
  align-items: center;
  gap: 34px;
}
.footer-phone-number {
  display: flex;
  flex-direction: column;
}

.footer-phone-number a {
  color: #000;
  font-size: 21px;
  font-weight: 550;
}

.footer-phone-number span {
  color: #4e5760;
  font-size: 13px;
  font-weight: 400;
}

.request-btn button {
  border-radius: 4px;
  border: 1px solid #ee0906;
  padding: 18px 47px;

  /*button font style*/
  color: #474b4e;
  font-size: 12px;
  font-weight: 700;
  line-height: 10px; /* 83.333% */
  text-transform: uppercase;
}

footer hr {
  margin: 41px 0;
  border: none;
  height: 1px;
  background: #dce1e7;
}

.middle-top-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.information-mid-footer {
  display: flex;
  align-items: last baseline;
  gap: 100px;
}

.left-info-footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

:is(.foot-info-title, .foot-catalog-title) p {
  color: #333436;
  font-size: 18px;
  font-weight: 550;
  line-height: 26px; /* 144.444% */
}

:is(.left-info-footer, .right-info-footer) ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.middle-top-footer li a {
  color: #404244;
  font-size: 16px;
  font-weight: 400;
}

.catalog-mid-footer {
  width: 55%;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(3, calc(100% / 3 - 20px));
}

.left-catalog-foot {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

:is(.left-catalog-foot, .mid-catalog-foot, .right-catalog-foot) ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 270px;
}

:is(.left-catalog-foot, .mid-catalog-foot, .right-catalog-foot) li a {
  color: #404244;
  font-size: 16px;
  font-weight: 400;
}

.we-accept-payment {
  display: flex;
  gap: 101px;
  align-items: center;
}

.we-accept-payment ul {
  display: flex;
  align-items: center;
  gap: 45px;
}

.we-accept-payment li img {
  width: 40px;
  filter: contrast(0);
  transition: 0.4s;
}

.we-accept-payment li img:hover {
  filter: contrast(1);
}

.middle-bot-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe-newsletter {
  display: flex;
  align-items: center;
  gap: 36px;
}

.we-accept-subtitle {
  width: 100px;
  color: #979da3;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

.send-email {
  display: flex;
  background: #fff;
  width: 85%;
  padding: 15px 20px;
}

.send-email input {
  width: 100%;
  background: transparent;
  color: #6b6f73;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.send-email button {
  background: transparent;
}

.subscribe-newsletter p {
  color: #4c5054;
  font-size: 17px;
  font-weight: 550;
  line-height: 23px; /* 135.294% */
}

.bottom-footer {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  align-items: center;
}

.develop,
.privacy-policy {
  display: flex;
  justify-content: center;
}

.about-footer p {
  color: #81868b;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.privacy-policy a {
  color: #444648;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  text-decoration-line: underline;
}

.catalog-navbar {
  position: relative;
}

.closedCatalogBar {
  height: 0;
  width: 100%;
  display: none;
}

.openedCatalogBar {
  width: 100%;
  padding: 25px 150px;
  z-index: 1000;
  background: #f9fafb;
  box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.09);
  height: auto;
  position: absolute;
  display: block;
}

.catalog-win-cards {
  display: grid;
  grid-template-columns: repeat(4, calc(100% / 4 - 23px));
  gap: 30px;
}

:is(.catalog-win-card, .mappedCatalog) li {
  cursor: pointer;
  padding: 15px 25px;
  border-bottom: 1px solid #ebf2f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}
.catalog-win-card,
.mappedCatalog {
  border-radius: 8px;
}

.mappedCatalog a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mappedTools ul {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mappedTools li {
  cursor: pointer;
}

.notFound {
  display: flex;
  flex-direction: column;
  padding: 0 150px 110px;
}

.error-title h1 {
  color: #2c333d;

  /* H1 */
  font-size: 48px;
  font-weight: 700;
  line-height: 54px; /* 112.5% */
}

.error-main {
  margin: 0 auto;
  width: 45%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 55px;
}

.error-desc p {
  color: #535557;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px; /* 161.111% */
}

.back-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.back-btns a button {
  border-radius: 8px;
  padding: 25px 32px;
}

.back-btns a:first-child button {
  background: #f6f8fb;
  color: #117fe3;
  font-size: 15px;
  font-weight: 550;
}

.back-btns button:last-child {
  padding: 25px 64px;
  background: #186fd4;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

:is(.notFound, .LikedGoods, .about-company-page) .navigation {
  padding: 18px 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

:is(.notFound, .LikedGoods, .about-company-page) .navigation a:first-child {
  color: #2c333d;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}
:is(.notFound, .LikedGoods, .about-company-page) .navigation a:last-child {
  color: #91969d;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}

.order-call-closed {
  display: none;
}
.order-call-opened {
  display: block;
}

.call-order-bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1111;
  background: rgba(1, 17, 32, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-order-btn {
  position: absolute;
  top: 50px;
  right: 50px;
}

.close-order-btn button {
  background: none;
  color: #fff;
  font-size: 32px;
}

.call-order-form form {
  border-radius: 8px;
  background: #ffffff;
  display: flex;
  width: 618px;
  padding: 40px;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.order-call-input-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-call-input-label input {
  padding: 25px 20px;
  border-radius: 7px;
  border: 1px solid #ebeef0;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.07) inset;
  font-size: 15px;
}

.order-call-input-label input::placeholder {
  color: #adb1b7;
  font-size: 15px;
  font-weight: 400;
  line-height: 11px; /* 73.333% */
}

.order-call-input-label label {
  color: #011120;
  font-size: 14px;
  font-weight: 400;
  line-height: 11px; /* 78.571% */
}

.order-call-input-label span {
  color: #e52b0e;
  font-size: 14px;
  font-weight: 400;
  line-height: 11px;
}

.agreement-checkbox input {
  border-radius: 4px;
  border: 1px solid #dfe0e2;
  background: #fff;
  width: 26px;
  height: 26px;
}

.agreement-checkbox {
  display: flex;
  gap: 10px;
}

.agreement-checkbox p {
  color: #696d70;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px; /* 161.538% */
}

.call-me-back {
  width: 100%;
}

.order-call-input-label input::-webkit-outer-spin-button,
.order-call-input-label input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.call-me-back button {
  width: 100%;

  padding: 25px 32px;
  border-radius: 8px;
  background: #186fd4;

  /*button font style*/
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 17px; /* 130.769% */
  text-transform: uppercase;
}

.category-bar-card {
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 4px 19px 0px rgba(23, 27, 32, 0.07);
  display: flex;
  width: 331px;
  height: 473px;
  padding: 10px 25px 25px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.categoryBtns {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.categoryBtns button span {
  border-radius: 900px;
  border: 1px solid #f3f3f3;
  padding: 5px 8px;
  font-size: 11px;
}

.categoryBtns button {
  width: 100%;
  border-bottom: 1px solid #f4f4f4;
  display: flex;
  padding: 15px 0px;
  justify-content: space-between;
  align-items: center;
  background: transparent;

  /*button font style*/
  font-size: 13px;
  line-height: 15px; /* 115.385% */
  text-transform: uppercase;
}

.add-all-cart,
.clear-list {
  width: 100%;
}

.add-all-cart button {
  width: 100%;
  border-radius: 8px;
  background: #186fd4;
  padding: 24px 27px;

  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 17px; /* 130.769% */
  text-transform: uppercase;
}

.clear-list button {
  width: 100%;
  border-radius: 8px;
  background: #f6f8fb;
  padding: 17px 27px;

  color: #117fe3;
  font-size: 15px;
  font-weight: 550;
  line-height: 11px; /* 73.333% */
}

.LikedGoods {
  padding: 0 150px 200px;
}

.main-liked {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.favorite-cards {
  display: grid;
  width: 90%;
  gap: 17px;
  grid-template-columns: repeat(4, calc(100% / 4 - 13px));
}

.favorite-card {
  position: relative;

  border-radius: 5px;
  border: 1px solid #a8adb222;
  display: flex;
  width: 308px;
  padding: 15px 15px;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.opened-price-filter,
.opened-goods-filter,
.opened-brand-filter {
  display: grid;
  grid-template-rows: 1fr;
  transition: 0.5s ease-in-out;
}

.opened-price-filter > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18px;
  transition: 0.3s;
}

:is(.closed-price-filter, .closed-brand-filter, .closed-goods-filter) > div {
  transition: 0.3s;
}

.closed-price-filter,
.closed-goods-filter,
.closed-brand-filter {
  display: grid;
  overflow: hidden;
  grid-template-rows: 0fr;
  transition: 0.5s ease-in-out;
}

.filter-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.filter-subtitle h4 {
  color: #414446;

  /* H4 */
  font-size: 18px;
  font-weight: 550;
  line-height: 26px; /* 144.444% */
}

.filter-subtitle button {
  padding: 5px;
  font-size: 15px;
  background: none;
}

.sidebar-filter {
  width: 331px;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

.css-eg0mwd-MuiSlider-thumb {
  background-color: white !important;
  border: 2px solid;
}

.css-1gv0vcd-MuiSlider-track,
.css-14pt78w-MuiSlider-rail {
  height: 2px !important;
}

.css-14pt78w-MuiSlider-rail {
  background: #dfe0e2 !important;
}

.from-to-inputs {
  display: grid;
  grid-template-columns: repeat(2, calc(100% / 2 - 10px));
  align-items: center;
  gap: 18px;
}

.from-to-inputs :where(.from-to-first, .from-to-second) {
  border-radius: 6px;
  border: 1px solid #dfe0e2;
  display: flex;
  padding: 13px 15px;
  align-items: center;
  gap: 5px;

  color: #a7aaae;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px; /* 173.333% */
}

:is(.from-to-first, .from-to-second) input {
  width: 100%;
  color: #2c333d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.checkbox-goods-type,
.checkbox-brand-type {
  display: flex;
  align-items: center;
  gap: 13px;
}

:is(.checkbox-brand-type, .checkbox-goods-type) p {
  cursor: pointer;
}

.no-favorites {
  display: flex;
  flex-direction: column;
  text-align: center;

  gap: 20px;
  width: 542px;
  margin: 90px auto 0;
}

.no-fav-title h3 {
  color: #2c333d;

  /* H3 */
  font-size: 20px;
  font-weight: 550;
  line-height: 26px; /* 130% */
}

.no-fav-subtitle p {
  color: var(--txt, #383838);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}

.no-fav-subtitle p span {
  color: var(--txt, #383838);
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
}

.no-fav-gtc button {
  border-radius: 8px;
  background: #186fd4;
  padding: 25px 32px;

  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 17px; /* 130.769% */
  text-transform: uppercase;
}

:is(.opened-brand-filter, .opened-goods-filter) > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 18px;
}

.goods-cards {
  display: grid;
  gap: 17px;
  grid-template-columns: repeat(4, calc(100% / 4 - 13px));
}

.catalogGoods {
  padding: 20px 150px;
  display: flex;
  gap: 20px;
}

.catalogGoods .rightSide {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

:is(.catalogGoods .rightSide) .sort-filtersMap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.goods-card {
  position: relative;
  padding: 15px;
  border: 1px solid #a8adb222;
  border-radius: 8px;
}

.about-company-page {
  padding: 0 150px;
}

.about-company-text,
.about-nav-title {
  box-shadow: 0 0 0 100vmax #f9fafb;
  clip-path: inset(0 -100vmax);
  background: #f9fafb;
}

.left-about-descriptions {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 30px;
}
.left-about-descriptions p {
  color: #2c333d;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px; /* 180% */
  z-index: 1;
}

.left-about-title h4 {
  width: 80%;
  color: #2c333d;

  /* H4 */
  font-size: 18px;
  font-weight: 550;
  line-height: 26px; /* 144.444% */
}

.bot-about-text {
  display: grid;
  grid-template-columns: repeat(2, calc(100% / 2 + 50px));
  align-items: center;
  position: relative;
  padding-bottom: 52px;
}

.right-about-text figure {
  transform: translate(-100px);
}

.right-about-text figure img {
  width: 100%;
}

.about-why-us {
  padding: 80px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

:is(.why-us-title, .company-history-title) h2 {
  color: #2c333d;

  font-size: 33px;
  font-weight: 700;
  line-height: 31px; /* 93.939% */
}

.why-us-cards {
  display: grid;
  grid-template-columns: repeat(4, calc(100% / 4 - 70px));
  gap: 97.33px;
}

.why-us-card {
  display: flex;
  gap: 15px;
}

.why-us-card .left-why-icon svg {
  font-size: 52px;
  stroke-width: 1px;
  color: #117fe3;
}

.why-us-card:nth-child(2n) .left-why-icon svg {
  stroke-width: 0.1px;
}

.why-us-card .right-why-text {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-top: 15px;
}

.why-us-card .right-why-text .right-why-title h4 {
  width: 80%;
  color: #3b3c3f;
  font-size: 20px;
  font-weight: 550;
  line-height: 24px; /* 120% */
}

.why-us-card .right-why-text .right-why-descr p {
  color: #6b6c72;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
}

.about-company-history {
  padding-block: 40px;
  display: flex;
  flex-direction: column;
  gap: 66px;
}

.company-history-cards {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, calc(100% / 2 - 20px));
}

.company-history-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 35px 25px;

  border-radius: 8px;
  border: 3px solid #e6eef6;
  background: #fff;
}

.company-history-list ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.history-card-subtitle h3 {
  color: #2c333d;

  /* H3 */
  font-size: 20px;
  font-weight: 550;
  line-height: 26px; /* 130% */
}

.history-pos-label {
  position: absolute;
  padding-inline: 15px;
  background: #fff;
  top: -12px;
  left: 13px;

  color: #186fd4;
  font-size: 27px;
  font-weight: 700;
  line-height: 26px; /* 96.296% */
}

.company-history-list li {
  display: flex;
  align-items: center;
  gap: 10px;

  color: #2c333d;

  /* Regular Text 15 */
  font-size: 15px;
  font-weight: 400;
  line-height: 27px; /* 180% */
}

.company-history-list li .marker {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #ee0906;
  border-radius: 5px;
}

.history-today-bg {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.company-history-today {
  padding: 25px 112px;
  border: 3px solid #186fd4;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.history-card-title {
  z-index: 1;
  color: #186fd4;
  text-align: center;
  font-size: 28px;
  font-weight: 550;
  line-height: 26px; /* 92.857% */
  text-transform: capitalize;
}

.history-today-cards {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  justify-content: space-between;
  grid-template-columns: repeat(2, calc(100% / 2 - 25px));
}

.history-today-card .top-history span {
  color: #186fd4;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px; /* 112.5% */
}

.history-today-card .bot-history p {
  color: #2c333d;

  font-size: 15px;
  font-weight: 400;
  line-height: 27px; /* 180% */
}
