@import url("./fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
button {
  border: none;
  cursor: pointer;
  outline: none;
}

input {
  border: none;
  outline: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.top-navbar {
  padding: 9px 150px;
  border-bottom: 1px solid #ebeef0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  color: #6c6f71;
  font-size: 14px;
  font-weight: 400;
}

.top-right-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-order-btn button {
  border-radius: 4px;
  background: #f2f6fc;
  padding: 12px;
  gap: 10px;

  /*button font style */
  color: #2a5e8d;
  font-size: 11px;
  font-weight: 700;
  line-height: 10px;
  text-transform: uppercase;
}

.nav-time span {
  color: #4e5760;
  font-size: 13px;
  font-weight: 400;
}

.nav-phone-number a {
  color: #000;
  font-size: 16px;
  font-weight: 550;
}

.bot-nav-iconText .rIcons {
  font-size: 23px;
}

.bot-right-nav {
  display: flex;
  align-items: center;
  gap: 27px;
}

.bot-right-nav .bot-nav-iconText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 150px;
}

.nav-search-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 37%;
  padding: 3px;
  border-radius: 8px;
  background: #186fd4;
}

.nav-search-input button {
  padding: 13px 21px;
  border-radius: 8px;
  background: #186fd4;

  color: #fff;
  font-size: 20px;
}

.nav-search-input input {
  padding: 16px;
  border-radius: 6px;
  width: 100%;
}

.nav-catalog-btn button {
  display: flex;
  padding: 16px 29px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  border-radius: 8px;
  background: #186fd4;

  /*font style*/
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px; /* 138.462% */
  text-transform: uppercase;
}

.nav-catalog-btn button .btn-icon {
  font-size: 23px;
}

.swiper-button-next {
  opacity: 1 !important;
  right: 0 !important;
}

.homePage {
  padding: 28px 150px 110px;
}

.mainSliders-Swiper {
  border-radius: 10px;
  background: linear-gradient(
      270deg,
      rgba(238, 245, 252, 0.95) 8.96%,
      rgba(205, 219, 234, 0) 55.04%
    ),
    url("../assets/img/mainSliderIMG/slider1.png"),
    lightgray -418.357px -175.743px / 186.048% 166.798% no-repeat,
    url("../assets/img/mainSliderIMG/slider2.png"),
    lightgray -465.556px 0px / 194.138% 100% no-repeat, #eef2f9;
}

.swiper-slide {
  position: relative;
}

.slider-text-btn {
  z-index: 1;
  position: absolute;
  bottom: 122px;
  left: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slider-text-btn h1 {
  color: #2c333d;
  width: 45%;
  /* H1 */
  font-size: 48px;
  font-weight: 700;
  line-height: 54px; /* 112.5% */
}
.slider-text-btn p {
  width: 53%;
  color: #2c333d;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px; /* 158.824% */
}

.gtp-btn button {
  padding: 24px 27px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #011120;

  /*btn font style */
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 17px; /* 130.769% */
  text-transform: uppercase;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  width: 60px !important;
  height: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-family: swiper-icons;
  color: #2c333d;
  background: #fff;
  font-size: 20px !important;
  box-shadow: 0 0 7px 0 #ccc;
  position: absolute;
}

.swiper-button-next:after {
  right: 1px;
}

.information-home {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.information-home div {
  display: flex;
  align-items: center;
  gap: 11px;
}

.information-home .i-icons {
  font-size: 18px;
  color: #117fe3;
}

.information-home p {
  color: #3b3c3f;
  font-size: 15px;
  font-weight: 550;
  line-height: 19px; /* 126.667% */
}

.information-home span {
  display: inline-block;
  width: 1px;
  height: 23px;
  background: #e7e7e8;
}

.home-catalog-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(8, calc(100% / 8 - 20px));
}

.home-catalog-cards > div:not(.go-to-catalog) {
  cursor: pointer;
  border-radius: 15px;
  background: #f3f4f5;
  padding-inline: 10px;
  display: flex;
  width: 185px;
  height: 197px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.go-to-catalog {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #f6f7f9;
  gap: 30px;
  padding-inline: 20px;
}

.go-to-catalog .chevron-icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #f3f4f5;
  color: gray;
}

.discounts-info {
  padding: 50px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, calc(100% / 4 - 20px));
}

.disc-info-card {
  position: relative;
}

.disc-text {
  top: 43px;
  left: 36px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.disc-text span:first-child {
  display: inline-block;
  color: #2c333d;
  font-size: 22px;
  font-weight: 550;
  line-height: 26px;
}
.disc-text span:last-child {
  padding: 6px 8px;
  color: #fff;
  border-radius: 6px;
  background: #011120;
  width: 73px;

  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px; /* 135.714% */
}

.bSeller-prod-cards {
  display: flex;
  gap: 20px;
}

.bestSellers {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 0;
}

.bSeller-label {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.bSeller-label h2 {
  color: #2c333d;

  /* H2 */
  font-size: 33px;
  font-weight: 700;
  line-height: 31px; /* 93.939% */
}

.bSeller-category-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bSeller-category-btns button {
  display: flex;
  padding: 17px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #f2f4f5;

  font-size: 14px;
  font-weight: 550;
  line-height: 11px; /* 78.571% */
}

.bSeller-prod-cards .swiper-slide {
  border-radius: 5px;
  border: 1px solid #a8adb222;
  display: flex;
  width: 308px;
  padding: 15px 15px;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.bSeller-card-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.bSeller-prod-cards .swiper-button-prev:after {
  width: 40px !important;
  height: 40px !important;
}
.bSeller-prod-cards .swiper-button-next:after {
  width: 40px !important;
  height: 40px !important;
}

.bestTitle {
  position: absolute;
  top: 0;
  left: 0;

  border-radius: 5px;
  border: 1px solid #f90;
  padding: 6px 8px;
  gap: 10px;

  color: #f90;
  font-size: 13px;
  font-weight: 550;
  line-height: 19px; /* 146.154% */
}

.btitle-img {
  display: flex;
  justify-content: center;
}

.bSeller-prod-cards .swiper-slide img {
  width: 100%;
  padding: 15px;
}

.bSeller-articul span {
  color: #a8adb2;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px; /* 100% */
}

.bSeller-prod-name h4 {
  color: #000;
  /* H4 */
  font-size: 18px;
  font-weight: 550;
  line-height: 26px; /* 144.444% */
}

.bSeller-price {
  display: flex;
  align-items: center;
  gap: 7px;
}

.bSeller-price del {
  color: #8f9296;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}

.bSeller-price span {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #003b73;
  font-size: 20px;
  font-weight: 550;
  line-height: 22px; /* 110% */
}

.bSeller-disc span {
  padding: 8px 5px;
  border-radius: 4px;
  background: #1b9665;

  color: #fff;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px; /* 100% */
}

.bSeller-card-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bSeller-card-btns .cart-btn button {
  border-radius: 6px;
  background: #186fd4;
  display: flex;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  gap: 11px;

  color: #fff;
  font-size: 15px;
  font-weight: 550;
  line-height: 22px; /* 146.667% */
}

.like-cart-btn {
  display: flex;
  align-items: center;
  gap: 9px;
}

.like-cart-btn button {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 6px;
  border: 1px solid #f3f4f5;
  font-size: 20px;
}

.hurry-up-buy {
  width: 308px;
  border-radius: 8px;
  border: 2px solid #117fe3;
  background: #fff;
}
