@import url("./fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
button {
  border: none;
}

input {
  border: none;
  outline: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.top-navbar {
  padding: 9px 150px;
  border-bottom: 1px solid #ebeef0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  color: #6c6f71;
  font-size: 14px;
  font-weight: 400;
}

.top-right-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-order-btn button {
  border-radius: 4px;
  background: #f2f6fc;
  padding: 12px;
  gap: 10px;

  /*button font style */
  color: #2a5e8d;
  font-size: 11px;
  font-weight: 700;
  line-height: 10px;
  text-transform: uppercase;
}

.nav-time span {
  color: #4e5760;
  font-size: 13px;
  font-weight: 400;
}

.nav-phone-number a {
  color: #000;
  font-size: 16px;
  font-weight: 550;
}

.bot-nav-iconText .rIcons {
  font-size: 23px;
}

.bot-right-nav {
  display: flex;
  align-items: center;
  gap: 27px;
}

.bot-right-nav .bot-nav-iconText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 150px;
}

.nav-search-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 37%;
  padding: 3px;
  border-radius: 8px;
  background: #186fd4;
}

.nav-search-input button {
  padding: 13px 21px;
  border-radius: 8px;
  background: #186fd4;

  color: #fff;
  font-size: 20px;
}

.nav-search-input input {
  padding: 16px;
  border-radius: 6px;
  width: 100%;
}

.nav-catalog-btn button {
  display: flex;
  padding: 16px 29px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  border-radius: 8px;
  background: #186fd4;

  /*font style*/
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px; /* 138.462% */
  text-transform: uppercase;
}

.nav-catalog-btn button .btn-icon {
  font-size: 23px;
}

.swiper-button-next {
  opacity: 1 !important;
  right: 0 !important`;
}

.mainSliders-Swiper {
  padding: 0 150px;
}
